/* Variables */
:root {
  /* Principales */
  --color-orange-primary: rgb(240, 148, 31);
  --color-orange-secondary: rgb(239, 96, 36);
  
  /* Neutre */
  --color-dark-neutral: rgb(54, 52, 50);
  --color-white-neutral: rgb(255, 255, 255);
  
  /* Accentuation */
  --color-teal-accent: rgb(25, 103, 116);
  --color-grey-accent: rgb(144, 161, 157);
}
/* Base */

html, body {
  height: 100%;
  min-width: 500px;
  margin: 0;
  padding: 0;}

body {
  position: relative;
  min-height:100vh;
  background-color: greenyellow;
  color: var(--color-dark-neutral);
  font-family: Arial, sans-serif;

  line-height: 1.6;
  margin: 0;
  padding: 0;
}
/* NAVBAR */
.nav{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color:var(--color-orange-primary );
}

#filter{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 1rem 1rem 1rem; 
  
}

#filter #soumettre{
  margin:1rem 0;

}

.container {
display:flex;
flex-flow: wrap;
width: 100%;
max-width: 1600px;
margin: 0 auto;

background-color: var(--color-white-neutral);
}

.footer{
  position:absolute;
  bottom:0;
  background-color:var(--color-orange-primary );
  width: 100%;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Styles pour les tablettes (min-width: 768px) */
@media (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  nav ul li {
    margin: 0;
  }

  main {
    max-width: 700px;
    margin: 0 auto;
  }
}

/* Styles pour les écrans larges (min-width: 1024px) */
@media (min-width: 1024px) {
  header {
    text-align: left;
    padding: 2rem;
  }

  nav ul {
    justify-content: flex-start;
  }

  main {
    max-width: 900px;
  }
}



